.project-card {
  border: 1px solid black;

  margin: 10px 20px;
  padding: 5px 10px;
}

.project-card .title {
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.project-card .date-span {
  font-weight: normal;
  font-style: italic;
  font-size: 18px;
}

.project-card .github-link {
  font-weight: normal;

}

.project-card .summary-title {

}

.project-card .summary-text {

}